openapi: 3.1.0
info:
  title: ApexMail API
  description: |
    The ApexMail API is a modern, developer-friendly transactional email API.
    
    ## Authentication
    
    Most API requests require authentication using an API key. Public and session-bootstrap endpoints under `/auth/*` are documented individually and may be public or use session cookies instead. For API-key protected routes, include your API key in the `X-API-Key` header:
    
    ```
    X-API-Key: am_live_xxxxxxxxxxxxxxxxxxxxxxxx
    ```

    The `am_live_xxxxxxxxxxxxxxxxxxxxxxxx` value above is an example placeholder. Replace it with a real API key from the ApexMail dashboard.
    
    ## Rate Limits
    
    The API enforces a default tenant-wide limit of 1,000 requests/minute.
    Authentication and other sensitive endpoints may apply stricter caps.
    Enterprise deployments may negotiate higher limits.
    
    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests allowed
    - `X-RateLimit-Remaining`: Requests remaining in window
    - `X-RateLimit-Reset`: Unix timestamp when limit resets
    
    ## Errors
    
    The API uses conventional HTTP response codes:
    - `2xx` - Success
    - `4xx` - Client error (bad request, unauthorized, etc.)
    - `5xx` - Server error
  version: 1.0.0
  contact:
    name: ApexMail Support
    email: contact@apexmail.ee
    url: https://apexmail.ee/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-logo:
    url: https://apexmail.ee/logo.png
    altText: ApexMail Logo

servers:
  - url: https://api.apexmail.ee/v1
    description: Production API
  - url: https://sandbox.api.apexmail.ee/v1
    description: Sandbox API (for testing)

tags:
  - name: Emails
    description: Send and manage transactional emails
  - name: Domains
    description: Configure sending domains with DNS verification
  - name: Webhooks
    description: Receive real-time event notifications
  - name: Events
    description: Query message delivery and engagement event history
  - name: SES
    description: Receive Amazon SES SNS notifications and subscription confirmations
  - name: Health
    description: Public liveness and readiness endpoints for infrastructure monitoring
  - name: API Keys
    description: Manage API keys for authentication
  - name: Analytics
    description: Email delivery and engagement analytics
  - name: Billing
    description: Billing usage, subscriptions, and invoices
  - name: Billing Admin
    description: Administrative billing operations for tenant support workflows
  - name: Templates
    description: Manage and render reusable email templates
  - name: Suppressions
    description: Manage suppression lists and pre-send suppression checks
  - name: Lists
    description: Manage audience lists and list subscribers
  - name: Contacts
    description: Manage contacts, bulk contact operations, and imports
  - name: Campaigns
    description: Manage campaigns and campaign delivery lifecycle actions
  - name: Dedicated IPs
    description: Allocate, list, warm, and release dedicated sending IPs
  - name: Automations
    description: Manage tenant automation workflows and enable or disable them
  - name: Support
    description: Manage tenant support tickets and ticket messages
  - name: SCIM
    description: Provision users and groups over the SCIM 2.0 interface
  - name: Auth
    description: User authentication, sessions, CSRF, password reset, and SSO flows
  - name: Account
    description: Inspect the current account profile and schedule account deletion
  - name: Admin
    description: Control-plane administration endpoints for platform operators
  - name: AI
    description: AI-powered optimization, prediction, and bot-detection insights
  - name: Streams
    description: Issue short-lived tokens for real-time event streaming
  - name: Observability
    description: Record client-reported errors and authentication telemetry

security:
  - ApiKeyAuth: []

paths:
  /auth/login:
    post:
      operationId: login
      summary: Create a session
      description: Authenticate a user with email and password and issue a session cookie.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/register:
    post:
      operationId: register
      summary: Register a tenant and owner account
      description: Create a pending tenant and owner account, then enqueue email verification.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '202':
          description: Registration accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/signup:
    post:
      operationId: signup
      summary: Register a tenant and owner account
      description: Alias of `/auth/register`.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '202':
          description: Registration accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/verify-email:
    get:
      operationId: verifyEmail
      summary: Verify a registered email address
      tags:
        - Auth
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: Email verification token
          schema:
            type: string
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset a password with a reset token
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/forgot-password:
    post:
      operationId: forgotPassword
      summary: Request a password reset email
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Reset request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgotPasswordResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/csrf:
    get:
      operationId: getCsrfToken
      summary: Issue a CSRF token
      description: Generate a CSRF token and set the matching cookie for browser session flows.
      tags:
        - Auth
      security: []
      responses:
        '200':
          description: CSRF token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsrfResponse'

  /auth/session:
    get:
      operationId: getSession
      summary: Inspect the current session
      description: Resolve the current browser or bearer-backed session, including impersonation state.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Session state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'

  /auth/logout:
    post:
      operationId: logout
      summary: Revoke the current session
      description: Blacklist the current session token and clear the session cookie.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
          CsrfHeaderAuth: []
        - BearerSessionAuth: []
      responses:
        '204':
          description: Session revoked

  /auth/refresh:
    post:
      operationId: refreshSession
      summary: Refresh a browser session token
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
          CsrfHeaderAuth: []
      responses:
        '200':
          description: Session refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAuthResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /api/auth/login:
    post:
      operationId: apiLogin
      summary: Create a session
      description: Control-plane alias of `/auth/login`.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /api/auth/register:
    post:
      operationId: apiRegister
      summary: Register a tenant and owner account
      description: Control-plane alias of `/auth/register`.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '202':
          description: Registration accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/auth/signup:
    post:
      operationId: apiSignup
      summary: Register a tenant and owner account
      description: Control-plane alias of `/auth/signup`.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '202':
          description: Registration accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/auth/verify-email:
    get:
      operationId: apiVerifyEmail
      summary: Verify a registered email address
      description: Control-plane alias of `/auth/verify-email`.
      tags:
        - Auth
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: Email verification token
          schema:
            type: string
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/auth/reset-password:
    post:
      operationId: apiResetPassword
      summary: Reset a password with a reset token
      description: Control-plane alias of `/auth/reset-password`.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/auth/logout:
    post:
      operationId: apiLogout
      summary: Revoke the current session
      description: Control-plane alias of `/auth/logout`.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
          CsrfHeaderAuth: []
        - BearerSessionAuth: []
      responses:
        '204':
          description: Session revoked

  /api/auth/refresh:
    post:
      operationId: apiRefreshSession
      summary: Refresh a browser session token
      description: Control-plane alias of `/auth/refresh`.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
          CsrfHeaderAuth: []
      responses:
        '200':
          description: Session refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAuthResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /api/auth/session:
    get:
      operationId: getApiSession
      summary: Inspect the current session
      description: Control-plane alias of `/auth/session`.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Session state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'

  /api/csrf:
    get:
      operationId: getApiCsrfToken
      summary: Issue a CSRF token
      description: Control-plane alias of `/auth/csrf`.
      tags:
        - Auth
      security: []
      responses:
        '200':
          description: CSRF token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsrfResponse'

  /health/live:
    get:
      operationId: getHealthLive
      summary: Liveness probe
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Process is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthLivenessResponse'

  /health/ready:
    get:
      operationId: getHealthReady
      summary: Readiness probe
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Dependencies are ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthReadinessResponse'
        '503':
          description: Dependencies are degraded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthReadinessResponse'

  /health/deep:
    get:
      operationId: getHealthDeep
      summary: Deep readiness probe with response times
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Deep health check passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepHealthResponse'
        '503':
          description: Deep health check degraded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepHealthResponse'

  /auth/change-password:
    post:
      operationId: changePassword
      summary: Change the current user's password
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePasswordResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/sessions/revoke:
    post:
      operationId: revokeSession
      summary: Revoke one or more stored sessions
      description: Revoke a specific session by ID or all stored sessions for the current user.
      tags:
        - Auth
      security:
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeSessionRequest'
      responses:
        '200':
          description: Session revocation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeSessionResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /auth/api-keys:
    get:
      operationId: listAuthApiKeys
      summary: List API keys
      tags:
        - API Keys
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: cursor
          in: query
          description: Optional offset alias used by the server implementation.
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: API keys for the authenticated tenant
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyInfo'
        '401':
          $ref: '#/components/responses/AuthenticationError'

    post:
      operationId: createAuthApiKey
      summary: Create an API key
      tags:
        - API Keys
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /auth/api-keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Delete an API key
      tags:
        - API Keys
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: API key identifier
          schema:
            type: string
      responses:
        '204':
          description: API key deleted
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/sso/google:
    get:
      operationId: startGoogleSso
      summary: Start Google SSO
      tags:
        - Auth
      security: []
      parameters:
        - name: next
          in: query
          schema:
            type: string
        - name: returnUrl
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to Google OAuth consent.
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/sso/github:
    get:
      operationId: startGithubSso
      summary: Start GitHub SSO
      tags:
        - Auth
      security: []
      parameters:
        - name: next
          in: query
          schema:
            type: string
        - name: returnUrl
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to GitHub OAuth consent.
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/sso/google/callback:
    get:
      operationId: completeGoogleSso
      summary: Complete Google SSO
      tags:
        - Auth
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: error
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the dashboard or login page with an SSO result.
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/sso/github/callback:
    get:
      operationId: completeGithubSso
      summary: Complete GitHub SSO
      tags:
        - Auth
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: error
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the dashboard or login page with an SSO result.
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/impersonate:
    post:
      operationId: startImpersonation
      summary: Start an impersonation session
      description: Validate an operator-issued impersonation token, set the impersonation session cookie, and redirect the browser to the dashboard.
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpersonateRequest'
      responses:
        '302':
          description: Impersonation session created and browser redirected.
          headers:
            Set-Cookie:
              description: Cookie carrying the impersonation browser session.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /auth/impersonate/end:
    post:
      operationId: endImpersonation
      summary: End an impersonation session
      description: Clear the impersonation session cookie and return a success acknowledgement.
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Impersonation session ended.
          headers:
            Set-Cookie:
              description: Cookie header that clears the impersonation session.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndImpersonationResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  /auth/telemetry:
    post:
      operationId: recordAuthTelemetry
      summary: Record authentication client telemetry
      description: Accept client-side authentication telemetry for observability. The server intentionally returns success even when the payload is malformed.
      tags:
        - Observability
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryPayload'
      responses:
        '200':
          description: Telemetry accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryResponse'

  /client-errors:
    post:
      operationId: reportClientError
      summary: Report a client-side application error
      description: Persist a browser-side error report for later investigation and observability analysis.
      tags:
        - Observability
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientErrorReport'
      responses:
        '202':
          description: Client error accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorAck'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /dashboard/stats:
    get:
      operationId: getDashboardStats
      summary: Fetch tenant dashboard statistics
      description: Return the authenticated tenant's last-30-days delivery metrics and top-level resource counts for the product dashboard.
      tags:
        - Analytics
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Dashboard statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /ai/send-time:
    get:
      operationId: getSendTimeOptimization
      summary: Recommend the best send time
      description: Analyze historical engagement to recommend a send hour for a tenant or specific recipient.
      tags:
        - AI
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: recipient
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: timezone
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Send-time recommendation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTimeResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /ai/subject-analysis:
    get:
      operationId: analyzeSubjectLine
      summary: Score and analyze a subject line
      tags:
        - AI
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: subject
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subject analysis result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectAnalysisResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /ai/churn-prediction:
    get:
      operationId: getChurnPrediction
      summary: Predict churn risk for a tenant audience
      tags:
        - AI
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Churn prediction summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChurnPredictionResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /ai/bot-detection:
    get:
      operationId: detectBotActivity
      summary: Evaluate whether activity looks bot-driven
      tags:
        - AI
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: event_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: ip_address
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Bot-detection assessment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotDetectionResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /automations:
    get:
      operationId: listAutomations
      summary: List automations
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: cursor
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Automation list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutomationResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: createAutomation
      summary: Create an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationRequest'
      responses:
        '201':
          description: Automation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /automations/{id}:
    get:
      operationId: getAutomation
      summary: Fetch an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      operationId: updateAutomation
      summary: Update an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationRequest'
      responses:
        '200':
          description: Updated automation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      operationId: deleteAutomation
      summary: Delete an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Automation deleted.
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /automations/{id}/enable:
    post:
      operationId: enableAutomation
      summary: Enable an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /automations/{id}/disable:
    post:
      operationId: disableAutomation
      summary: Disable an automation
      tags:
        - Automations
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /account/profile:
    get:
      operationId: getAccountProfile
      summary: Fetch the current user profile
      tags:
        - Account
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /account:
    delete:
      operationId: deleteAccount
      summary: Schedule account deletion
      description: Verify the current password and confirmation phrase, disable the tenant, and schedule deletion after a 30-day grace period.
      tags:
        - Account
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
      responses:
        '200':
          description: Account deletion scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /dedicated-ips:
    get:
      operationId: listDedicatedIps
      summary: List dedicated IPs
      tags:
        - Dedicated IPs
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Dedicated IP inventory and allocation summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedIpListResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: allocateDedicatedIp
      summary: Allocate a dedicated IP
      tags:
        - Dedicated IPs
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateDedicatedIpRequest'
      responses:
        '201':
          description: Dedicated IP allocated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedIpResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /dedicated-ips/{id}:
    delete:
      operationId: releaseDedicatedIp
      summary: Release a dedicated IP
      tags:
        - Dedicated IPs
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Dedicated IP released.
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /dedicated-ips/{id}/warmup:
    post:
      operationId: startDedicatedIpWarmup
      summary: Start or resume dedicated IP warmup
      tags:
        - Dedicated IPs
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dedicated IP warmup started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedIpWarmupResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/features:
    get:
      operationId: listAdminFeatures
      summary: List feature flags and overrides
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Feature flags and overrides.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFeaturesResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: createAdminFeature
      summary: Create a feature flag
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminFeatureRequest'
      responses:
        '201':
          description: Feature flag created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFeatureFlag'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminFeature
      summary: Update a feature flag
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminFeatureRequest'
      responses:
        '200':
          description: Feature flag updated.
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/gdpr:
    get:
      operationId: listAdminGdprRequests
      summary: List GDPR requests
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: GDPR request queue.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminGdprRequest'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminGdprRequest
      summary: Update a GDPR request status
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminGdprRequest'
      responses:
        '200':
          description: GDPR request updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/tenants:
    get:
      operationId: listAdminTenants
      summary: List tenants
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Tenant list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminTenant'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminTenant
      summary: Update tenant status or fields
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminTenantRequest'
      responses:
        '200':
          description: Tenant updated.
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      operationId: deleteAdminTenant
      summary: Delete a tenant
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAdminTenantRequest'
      responses:
        '204':
          description: Tenant deleted.
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/secrets:
    get:
      operationId: listAdminSecrets
      summary: List secrets
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Secret inventory.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminSecret'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: createAdminSecret
      summary: Create a secret record
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminSecretRequest'
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSecret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminSecret
      summary: Rotate or revoke a secret
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminSecretRequest'
      responses:
        '200':
          description: Secret action completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSecretActionResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      operationId: deleteAdminSecret
      summary: Delete a secret record
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAdminSecretRequest'
      responses:
        '200':
          description: Secret deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteMessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/audit:
    get:
      operationId: listAdminAuditLogs
      summary: List audit logs
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: action
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: tenantId
          in: query
          required: false
          schema:
            type: string
        - name: userId
          in: query
          required: false
          schema:
            type: string
        - name: resourceType
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Audit log entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminAuditLogEntry'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/dashboard/stats:
    get:
      operationId: getAdminDashboardStats
      summary: Fetch admin dashboard statistics
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Aggregated control-plane dashboard statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboardStats'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/revenue:
    get:
      operationId: getAdminRevenue
      summary: Fetch revenue analytics
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Revenue analytics and plan breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRevenueResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/content:
    get:
      operationId: listAdminContent
      summary: List content items
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Content items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminContentItem'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/campaigns:
    get:
      operationId: listAdminCampaigns
      summary: List admin drip campaigns
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Drip campaigns.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminCampaignRow'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/leads/discovery:
    get:
      operationId: getAdminLeadsDiscovery
      summary: Fetch discovery sources and recently found leads
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Lead discovery overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDiscoveryResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/calendar:
    get:
      operationId: getAdminCalendar
      summary: Fetch calendar events and availability slots
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Calendar overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCalendarResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/compliance:
    get:
      operationId: getAdminComplianceOverview
      summary: Fetch compliance overview
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Compliance overview metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminComplianceOverview'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/inbox:
    get:
      operationId: listAdminInboxMessages
      summary: List inbox messages
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: classification
          in: query
          required: false
          schema:
            type: string
        - name: archived
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Inbox messages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminInboxMessage'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminInboxMessage
      summary: Update inbox message state
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminInboxMessageRequest'
      responses:
        '200':
          description: Inbox message updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/risk:
    get:
      operationId: listAdminRiskTenants
      summary: List tenant risk assessments or thresholds
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: resource
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Risk thresholds or tenant assessments.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/AdminRiskTenant'
                  - $ref: '#/components/schemas/AdminRiskThresholdsResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminRisk
      summary: Update risk limits, thresholds, or flags
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AdminRiskSetLimitRequest'
                - $ref: '#/components/schemas/AdminRiskResolveFlagRequest'
                - $ref: '#/components/schemas/AdminRiskSaveThresholdsRequest'
                - $ref: '#/components/schemas/AdminRiskRunAssessmentRequest'
      responses:
        '200':
          description: Risk action completed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - $ref: '#/components/schemas/AdminRiskThresholdsMutationResponse'
                  - $ref: '#/components/schemas/AdminRiskAssessmentResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/warmup:
    get:
      operationId: listAdminWarmupPools
      summary: List warmup pools and schedules
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Warmup pools.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminWarmupPool'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: updateAdminWarmupPool
      summary: Start, pause, or reset a warmup pool
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminWarmupActionRequest'
      responses:
        '200':
          description: Warmup pool updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatusMessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/autopilot:
    get:
      operationId: getAdminAutopilot
      summary: Fetch autopilot state for a requested section
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: section
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Autopilot section payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAutopilotPayload'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: updateAdminAutopilot
      summary: Execute an autopilot action
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAutopilotAction'
      responses:
        '200':
          description: Autopilot action result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAutopilotPayload'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/proxy:
    get:
      operationId: getAdminProxyStatus
      summary: Report that GET is unsupported for the proxy
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '405':
          description: GET is not supported for the proxy endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminErrorMessageResponse'

    post:
      operationId: postAdminProxyRequest
      summary: Send an allowlisted proxied request
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminProxyRequest'
      responses:
        '200':
          description: Proxied response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProxyResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/support/analytics:
    get:
      operationId: getAdminSupportAnalytics
      summary: Fetch support ticket analytics
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 30
      responses:
        '200':
          description: Support analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSupportAnalytics'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/system/health:
    get:
      operationId: getAdminSystemHealth
      summary: Fetch queue, worker, MTA, and alert health
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: System health snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSystemHealthResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/analytics/export:
    get:
      operationId: exportAdminAnalytics
      summary: Export analytics as CSV or JSON
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: range
          in: query
          required: false
          schema:
            type: string
            default: 30d
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: csv
      responses:
        '200':
          description: Analytics export.
          content:
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAnalyticsExportResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/analytics:
    get:
      operationId: getAdminAnalytics
      summary: Fetch aggregate analytics metrics
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: range
          in: query
          required: false
          schema:
            type: string
            default: 7d
      responses:
        '200':
          description: Analytics summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAnalyticsResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/crm/leads:
    get:
      operationId: listAdminCrmLeads
      summary: List CRM leads
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: CRM leads.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminCrmLead'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/support:
    get:
      operationId: listAdminSupportTickets
      summary: List support tickets with recent messages
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Support tickets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminSupportTicket'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      operationId: addAdminSupportReply
      summary: Add a reply to a support ticket
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAdminSupportReplyRequest'
      responses:
        '201':
          description: Reply created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSupportReplyResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      operationId: updateAdminSupportTicket
      summary: Update support ticket state
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminSupportTicketRequest'
      responses:
        '200':
          description: Ticket updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSupportTicketUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/leads:
    get:
      operationId: listAdminSalesLeads
      summary: List sales leads and aggregate stats
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: source
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Sales leads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesLeadsResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/leads/update:
    patch:
      operationId: updateAdminSalesLeads
      summary: Update one or more sales leads
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesLeadUpdateRequest'
      responses:
        '200':
          description: Lead update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesLeadUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/leads/enrich:
    post:
      operationId: enrichAdminSalesLeads
      summary: Enrich one or more sales leads
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesEnrichRequest'
      responses:
        '200':
          description: Lead enrichment result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesEnrichResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/campaigns:
    get:
      operationId: listAdminSalesCampaigns
      summary: List sales outreach campaigns
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Sales campaigns.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminSalesCampaign'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      operationId: updateAdminSalesCampaign
      summary: Pause, resume, archive, or cancel a sales campaign
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesCampaignUpdateRequest'
      responses:
        '200':
          description: Campaign update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesCampaignUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/discovery/run:
    post:
      operationId: runAdminSalesDiscovery
      summary: Run sales discovery against configured sources
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesDiscoveryRequest'
      responses:
        '200':
          description: Discovery run result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesDiscoveryResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/outreach/start:
    post:
      operationId: startAdminSalesOutreach
      summary: Start a sales outreach campaign for selected leads
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesOutreachRequest'
      responses:
        '200':
          description: Outreach campaign started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesOutreachResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/sales/settings:
    get:
      operationId: getAdminSalesSettings
      summary: Fetch sales settings
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      responses:
        '200':
          description: Sales settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSalesSettings'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      operationId: saveAdminSalesSettings
      summary: Save sales settings
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSalesSettings'
      responses:
        '200':
          description: Sales settings saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /stream/token:
    post:
      operationId: createStreamToken
      summary: Issue a short-lived stream token
      description: Create an HMAC-signed JWT that can be used to connect to the event stream endpoint.
      tags:
        - Streams
      security:
        - ApiKeyAuth: []
        - SessionCookieAuth: []
        - BearerSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStreamTokenRequest'
      responses:
        '201':
          description: Stream token issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamTokenResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /messages:
    post:
      operationId: sendMessage
      summary: Queue a message for delivery
      description: Send or schedule a transactional message to one or more recipients.
      tags:
        - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSendRequest'
      responses:
        '200':
          description: Existing idempotent message returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageQueueResponse'
        '202':
          description: Message accepted for delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageQueueResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          description: Message quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          description: Billing quota enforcement is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listMessages
      summary: List queued and delivered messages
      tags:
        - Emails
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: cursor
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Messages ordered by creation time.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageDetail'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /messages/batch:
    post:
      operationId: sendBatchMessages
      summary: Queue a batch of messages
      tags:
        - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessageSendRequest'
      responses:
        '200':
          description: Batch processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMessageSendResponse'
        '400':
          description: Batch request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /messages/{id}:
    get:
      operationId: getMessage
      summary: Get a message by ID
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDetail'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/ServerError'

  /messages/{id}/cancel:
    post:
      operationId: cancelMessage
      summary: Cancel a queued or scheduled message
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageQueueResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/ServerError'

  /domains:
    post:
      operationId: createDomain
      summary: Add a domain
      description: |
        Add a domain for sending emails. Returns DNS records that must be
        configured for verification.
      tags:
        - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '201':
          description: Domain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '409':
          description: Domain already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listDomains
      summary: List domains
      description: Retrieve all configured sending domains.
      tags:
        - Domains
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /domains/{domainId}:
    get:
      operationId: getDomain
      summary: Get domain details
      description: Retrieve details of a specific domain including DNS records.
      tags:
        - Domains
      parameters:
        - $ref: '#/components/parameters/domainId'
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Remove a domain from your account.
      tags:
        - Domains
      parameters:
        - $ref: '#/components/parameters/domainId'
      responses:
        '204':
          description: Domain deleted
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /domains/{domainId}/verify:
    post:
      operationId: verifyDomain
      summary: Verify domain DNS
      description: Trigger DNS verification for a domain.
      tags:
        - Domains
      parameters:
        - $ref: '#/components/parameters/domainId'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create a webhook
      description: |
        Register a webhook endpoint to receive real-time event notifications.
        
        Available events:
        - `message.sent` - Message accepted for delivery
        - `message.delivered` - Message delivered to recipient
        - `message.bounced` - Message bounced
        - `message.complained` - Recipient marked as spam
        - `message.opened` - Message opened (if tracking enabled)
        - `message.clicked` - Link clicked (if tracking enabled)
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'

    get:
      operationId: listWebhooks
      summary: List webhooks
      description: Retrieve all configured webhooks.
      tags:
        - Webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /webhooks/{webhookId}:
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Retrieve details of a specific webhook.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/webhookId'
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      operationId: updateWebhook
      summary: Update a webhook
      description: Update webhook configuration.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/webhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: Remove a webhook endpoint.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: Webhook deleted
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api-keys:
    post:
      operationId: createApiKey
      summary: Create an API key
      description: |
        Create a new API key. The full key is only returned once at creation time.
        Store it securely.
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'

    get:
      operationId: listApiKeys
      summary: List API keys
      description: Retrieve all API keys (masked).
      tags:
        - API Keys
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /api-keys/{keyId}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      description: Permanently revoke an API key.
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/keyId'
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get analytics
      description: |
        Retrieve email delivery and engagement analytics.
        
        Metrics include:
        - Sent, delivered, bounced, complained counts
        - Open and click rates (if tracking enabled)
        - Delivery rate
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          required: true
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: End date (ISO 8601)
          schema:
            type: string
            format: date
        - name: groupBy
          in: query
          description: Group results by time period
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
        - name: domain
          in: query
          description: Filter by sending domain
          schema:
            type: string
        - name: tag
          in: query
          description: Filter by tag
          schema:
            type: string
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /billing/usage:
    get:
      operationId: getBillingUsage
      summary: Get billing usage summary
      description: Retrieve the current billing period usage summary for the authenticated tenant.
      tags:
        - Billing
      responses:
        '200':
          description: Billing usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingUsageSummary'
        '401':
          $ref: '#/components/responses/AuthenticationError'

  /billing/usage/realtime/{metric}:
    get:
      operationId: getBillingRealtimeUsageCounter
      summary: Get a real-time usage counter
      description: Return the current monthly Redis-backed counter for a supported metric.
      tags:
        - Billing
      parameters:
        - name: metric
          in: path
          required: true
          schema:
            type: string
            enum:
              - emails_sent
              - api_calls
      responses:
        '200':
          description: Real-time usage counter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRealtimeUsageCounter'
        '400':
          description: Invalid metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminErrorMessageResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /billing/payg/pricing:
    get:
      operationId: getBillingPaygPricing
      summary: Get PAYG pricing tiers
      tags:
        - Billing
      responses:
        '200':
          description: PAYG pricing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaygPricing'

  /billing/payg/estimate:
    post:
      operationId: estimateBillingPaygCost
      summary: Estimate PAYG cost for a usage sample
      tags:
        - Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingPaygEstimateRequest'
      responses:
        '200':
          description: PAYG estimate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaygEstimateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /billing/payg/usage:
    get:
[...]
